.idea/*
runsikulix*
sikulixapi.jar
SikuliX.app
SikuliX.app/*
*SetupLog*
sikuli-kingsroad/sikulix.jar
sikuli-rumblegames-1/kr-bot-main.sikuli/*.png
sikuli-rumblegames-1/krBot1440.sikuli/krBot1440$py.class
